MONGODB_URI=mongodb://root:password@mongo:27017/
MONGO_DB_NAME=wowprogress
CHECK_INTERVAL=60
RAID_ID=nerubar-palace
BOSSES_IDS=the-silken-court
DIFFICULTY_IDS=heroic,mythic
REALM_SLUG=ysondre
GUILD_SLUG=WoW%20Hôtel
REGION_SLUG=eu